PORT="3000"
DATABASE_URL="postgresql://postgres:rupayan@postgres:5432/social_network"

NODE_ENV="development"
JWT_ACCESS_SECRET="myJwtSecreat"
SALT_ROUNDS=*
O_AUTH_CLIENT_ID="*"
O_AUTH_CLIENT_SECRET="*"
REDIRECT_URI="*"
BREVO_API_KEY="*"
REDIS_URL="redis://redis:6379"
FRONTEND_URL="http://localhost:5173"
BACKEND_URL="http://localhost:3000/api"